<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
            Mailbum - Email Signatures without the Fuss
    </title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700&display=swap"  rel="stylesheet">
	
    <link rel="stylesheet" type="text/css" href="/vendors/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/grid.css">
    <link rel="stylesheet" href="/resources/css/style.css">
	
	<script src="https://unpkg.com/ionicons@5.1.0/dist/ionicons.js"></script>
	
</head>
<body>
	
    <header class="border-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
					<nav class="main-nav">
                        <a class="logo" href="#"><img src="/resources/img/mailbum-logo.png" alt="Mailbum Logo">&nbsp;
                        Mailbum.</a>  
                       <div class="main-nav-items">
							<ul class="nav-items">
								 <li><a class="nav-link" href="/home.html">Signatures</a></li>
								<li><a class="nav-link" href="#">Templates</a></li>
								<li><a class="btn" href="#">Join us</a>
								</li>
							 </ul>
						</div>
				   </nav>
                </div>
            </div>          
        </div>
    </header>
		
	<section class="templates-catalogue" id="catalogue">
	<div class="container">
		<div class="row">
			<div class="text-catalogue">				
				<h3>Template catalogue</h3>
				<p>Browse our ever growing range of email signatures and we’ll show you how to configure and install it. Yes, they are
				<b>completely free</b>
				 to use and there is no nasty tracking code!</p>
			</div>
		</div>	
		
		<div class="row">
			<div class="col span-1-of-4">
			  	<div class="card">
				 <a href="#">
				  <img src="/resources/img/BLOCK1.png">
				  <div class="row card1">
					<div class="col span-1-of-2">
					 <a href="/templates/temp1.html">
						 <span>Minimal</span></a>	
						</div>
					<div class="col span-1-of-2">			 
					 <a class="arrowIcon" href="#">
						 <ion-icon name="arrow-forward"></ion-icon></a>
					 </div>
				   </div>
				  </a>
				</div> 
			</div>
					
			
		</div>
		
	</div>
	</section>
		
	<section class="section-footer">
		<div class="row">
			<div class="col mailbumItems">
			   <a class="logo" href="#"><img src="/resources/img/mailbum-logo.png" alt="Mailbum Logo">&nbsp;
               Mailbum.</a>  
				<ul class="footer-mailbumItems">
				  <li><a href="#">Buy me a coffee</a></li>
				   <li><a href="#">Write to us</a></li>
				</ul>
			</div>
			
			<div class="col usefulLinks">
			    <span>Useful links</span>
				<ul class="usefulLinksItems">
				  <li><a href="#">Browse</a></li>
				  <li><a href="#">Login</a></li>
				  <li><a href="#">Join us</a></li>
				</ul>
			</div>
			
			<div class="col ourpartners">
				<span>Our partners</span>
				<ul class="ourpartnersItems">
				  <li>Built with <a href="#">Next.JS</a></li>
				  <li>Illutrations by<a href="#"> Ouch.pics</a></li>
				  <li>Imagery by <a href="#">Unsplash</a></li>
					<li>Icons made by<a href="#"> Freepik</a> from <a href="#">www.flaticon.com</a></li>
				</ul>
			</div>
			
		</div>
		<div class="row">
			<div class="col"><small class="copyright">Copyright © 2020 Mailbum</small>
			</div>
		</div>
	</section>
	
</body>
</html>